body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    position: relative;
    padding-bottom: 50px;
    box-sizing: border-box;
    min-height: 100vh;
}

.shopping-cart {
    width: 16px;
    height: 16px;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(5px);
    z-index: -1;
}

.header-image {
    width: 200px;
    height: 80px;
    display: block;
    margin: 0 auto;
}

header {
    background-color: #fff;
    color: black;
    text-align: center;
}

nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side {
    flex-grow: 1;
    display: flex;
    margin-left: 1000px;
}

.right-side {
    display: flex;
    align-items: center;
}

.nav-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f1380d;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #ff5733;
}

.nav-search {
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: #333;
}

.nav-search::placeholder {
    color: #999;
}

.sign-btn {
    background-color: #007BFF;
}

.sign-btn:hover {
    background-color: #0056b3;
}

/*footer*/
footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 40px;
}

footer p {
    margin-top: 10px;
    font-size: 14px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content a {
    margin: 0 10px;
}

.footer-content img {
    width: 35px;
    height: 35px;
}

.wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px; /* добавляет расстояние между последним элементом и футером */
}


/* Стили для контейнера About Us */
.container.about-us {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Стили для текста о компании */
.about-us-text {
    font-size: 18px;
    line-height: 1.5;
    color: #333; /* Цвет текста */
}

/* Дополнительные стили для улучшения внешнего вида */
.container.about-us h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.container.about-us p {
    margin-bottom: 10px;
}