body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    position: relative;
    padding-bottom: 50px;
    box-sizing: border-box;
    min-height: 100vh;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(5px);
    z-index: -1;
}

.shopping-cart {
    width: 16px;
    height: 16px;
}

.header-image {
    width: 200px;
    height: 80px;
    display: block;
    margin: 0 auto;
}

header {
    background-color: #fff;
    color: black;
    text-align: center;
}

nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side {
    flex-grow: 1;
    display: flex;
    margin-left: 1000px;
}

.right-side {
    display: flex;
    align-items: center;
}

.nav-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f1380d;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #ff5733;
}

/* Search */
form.nav-search input[type="search"] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    outline: none;
}

form.nav-search button[type="submit"] {
    float: left;
    width: 20%;
    padding: 5.4px;
    background: #007BFF;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.nav-search button[type="submit"]:hover {
    background: #0056b3;
    transition: background-color 0.3s ease;
}

form.nav-search::after {
    content: "";
    clear: both;
    display: table;
}

.sign-btn {
    background-color: #007BFF;
}

.sign-btn:hover {
    background-color: #0056b3;
}

.container {
    display: flex;
    max-width: 1300px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    justify-content: space-between;
}

.border-menu {
    flex: 0 0 200px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-right: 20px;
}

.border-menu a {
    display: block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.border-menu a:hover {
    background-color: #f1380d;
}

.products {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    flex-basis: calc(33.33% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.product-image img {
    max-width: 100%;
    height: auto;
}

h2 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #333;
}

/*product card content*/
.product p {
    color: #777;
}

.product-price {
    font-size: 1.2rem;
    color: #f1380d;
    margin: 10px 0;
}

.add-to-cart-button {
    background-color: #f1380d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
    background-color: #ff5733;
}

/*pagination*/
.pagination {
    text-align: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
}

.pagination ul {
    list-style: none;
    padding: 0;
}

.pagination ul li {
    display: inline;
    margin-right: 10px;
}

.pagination ul li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.pagination ul li a:hover {
    text-decoration: underline;
}

/* Previous и Next */
.pagination li:first-child a,
.pagination li:last-child a {
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: none; /* Убираем тень, если есть */
}

.pagination .disabled {
    pointer-events: none; /* Отключаем кликабельность для отключенных кнопок */
    color: #fff; /* Серый цвет текста для отключенных кнопок */
    background-color: #545252; /* Фон для отключенных кнопок */
    border: 1px solid #ccc; /* Обводка для отключенных кнопок */
}

.pagination .active {
    background-color: #007BFF; /* Цвет активной страницы */
    border: 1px solid #007BFF;
}

/*footer content*/
footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 40px;
}

footer p {
    margin-top: 10px;
    font-size: 14px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content a {
    margin: 0 10px;
}

.footer-content img {
    width: 35px;
    height: 35px;
}

.wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px; /* добавляет расстояние между последним элементом и футером */
}

.search-text {
    background-color: white;
    border: 1px solid #ddd; /* Border to separate it from other content */
    text-align: center; /* Center-align the text */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
}

.search-text h1 {
    font-size: 24px; /* Font size for the heading */
    color: #333; /* Text color */
}

.order-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.order-options label {
    font-size: 20px;
    margin-bottom: 10px;
}

.order-options form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-options select {
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.order-options button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.order-options button:hover {
    background-color: #ccc;
}



/* Для ноутбуков-планшетов */
@media (max-width: 1024px) {
    .container {
        flex-direction: column;
    }

    .border-menu {
        margin-right: 0;
    }

    .product {
        flex-basis: 100%;
    }

    nav {
        flex-direction: column;
    }

    .left-side, .right-side {
        margin: 10px 0;
    }

    .nav-button {
        padding: 5px 10px;
        margin: 5px;
    }

    .nav-search {
        width: 100%;
    }
}

/* Для мобильных телефонов */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .left-side, .right-side {
        margin: 10px 0;
    }

    .nav-button {
        padding: 5px 10px;
        margin: 5px;
    }

    .nav-search {
        width: 100%;
    }

    .slideshow-container {
        padding: 10px;
    }

    .header-image {
        width: 150px;
        height: 60px;
    }

    .product {
        padding: 10px;
    }

    .add-to-cart-button {
        padding: 5px 10px;
    }

    footer {
        padding: 5px 0;
    }

    footer p {
        font-size: 12px;
    }

    .footer-content img {
        width: 25px;
        height: 25px;
    }
}

