{% extends 'users/baselogin.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}
    <title>Sign In</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'users/css/login_page.css' %}">
{% endblock %}

{% block content %}
    <div class="login-container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message }}
                    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        <h2>Sign In</h2>
        <form action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            <div class="input-group">
                <label for="{{ form.username.id_for_label }}">Username</label>
            {{ form.username }}
        </div>
        <div class="input-group">
            <label for="{{ form.password.id_for_label }}">Password</label>
            {{ form.password }}
        </div>
        <div class="forgot-password">
            <a href="{% url 'reset_password' %}">Forgot your password?</a>
        </div>
        <button type="submit">Sign In</button>
        <div class="signup-text">
            <p class="centered-text">Don't have an account? <a href="{% url 'users:register' %}" class="signup-link">Sign Up</a></p>
        </div>
    </form>

    <!-- Додавання іконок та надпису "Забули пароль?" -->
    <div class="social-icons">
        <a href="{% provider_login_url 'facebook' %}" class="social-icon"><img src="{% static 'users/images/facebook.png' %}" alt="Facebook"></a>
        <a href="{% provider_login_url 'github' %}" class="social-icon"><img src="{% static 'users/images/github.png' %}" alt="GitHub"></a>
        <a href="{% provider_login_url 'google' %}" class="social-icon"><img src="{% static 'users/images/gmail.png' %}" alt="Google"></a>
    </div>

</div>
{% endblock %}