{% extends 'users/baselogin.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}
    <title>Password reset</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'users/css/password_reset_done.css' %}">
{% endblock %}


{% block content %}
    <div class="login-container">
        <h2>Password reset complete</h2>
        <p>Your password has been set. You may go ahead and log in now.</p>
        <button type="submit"><a href="{% url 'users:login' %}">Log in</a></button>
    </div>
{% endblock %}