{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block header %} {% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    {% block css %} {% endblock %}
    <style>
        body::before {
            background-image: url('{% static 'products/images/background.jpg' %}');
        }
        {% block style %} {% endblock %}
    </style>
</head>
<body>

<header>
    <img src="{% static 'products/images/logo_gamegearpng.png' %}" alt="Game Gear Logo" class="header-image">
</header>
<nav>
    <div class="left-side">
        <a class="nav-button" href="{% url 'products:landing' %}">Home</a>
        <a class="nav-button" href="{% url 'products:products' %}">Products</a>
        <a class="nav-button" href="{% url 'products:aboutus' %}">About Us</a>
        <a class="nav-button" href="{% url 'products:contacts' %}">Contact</a>
    </div>
    <div class="right-side">
        <form class="nav-search" action="{% url 'products:search_view' 1 %}" method="get">
            <input type="search" name="search" placeholder="Search">
            <button type="submit"><img src="{% static 'products/images/search.png' %}" alt="Search"></button>
        </form>
        {% if user.is_authenticated %}
            <a class="nav-button sign-btn" href="{% url 'users:logout' %}">Logout</a>
        {% else %}
            <a class="nav-button sign-btn" href="{% url 'users:login' %}">Sign In</a>
            <a class="nav-button sign-btn" href="{% url 'users:register' %}">Sign Up</a>
        {% endif %}
        <a class="nav-button"
           href="{% if user.is_authenticated %} {% url 'users:profile' user.id %} {% else %} {% url 'users:login' %} {% endif %}"><img
                src="{% static 'products/images/shopping-cart.png' %}" alt="" class="shopping-cart"></a>
    </div>
</nav>

{% block content %} {% endblock %}

<div class="wrapper">
    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2023 Online Store Pet Project</p>
            <a href="https://www.linkedin.com/in/vlad-musaelyan-5966a1278/">
                <img src="{% static 'products/images/footer/icon_link.png' %}" alt="">
            </a>
            <a href="https://github.com/drakoRRR">
                <img src="{% static 'products/images/footer/icon_github.png' %}" alt="">
            </a>
        </div>
    </footer>
</div>

</body>
</html>