{% extends 'products/basesite.html' %}
{% load static humanize %}

{% block header %}
    <title>Product Page</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'products/css/product_page.css' %}">
{% endblock %}

{% block style %}
    .rating label {
        background-image: url({% static 'products/images/star_unfilled.png' %});
    }

    .rating input[type="radio"]:checked ~ label {
    background-image: url({% static 'products/images/star_filled.png' %});
    }

    .rating input:checked + label ~ label {
    background-image: url({% static 'products/images/star_unfilled.png' %});
    }
{% endblock %}

{% block content %}
<div class="container">

    {% include 'products/border_menu.html' %}

    <main class="container-main">
        <div class="left-column">
            <img src="{{ product.image.url }}" alt="Product Image">
        </div>
        <div class="right-column">
            <div class="product-description">
                <h1>{{ product.name }}</h1>
                <span>{{ product.category }}</span>
                <p>{{ product.description }}</p>
            </div>
            <div class="product-price">
                <span>{{ product.price|intcomma }}$</span>
                <a href="{% url 'products:basket_add' product.id %}" class="cart-btn">Add to cart</a>
            </div>
            <div class="user-reviews">
                <h2>User Reviews</h2>
                {% for review in reviews %}
                    <div class="single-review"
                         style="padding: 20px; border: 1px solid #ddd; border-radius: 5px;">
                        <h3 style="font-size: 24px; color: #333;">{{ review.user.username }}</h3>
                        <p style="font-size: 14px; color: #666;">{{ review.created_at }}</p>
                        {% if not review.rate or not review.comment %}
                            {% for message in messages %}
                                <div class="alert alert-danger" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <p style="font-size: 18px; color: #333;">
                            {% if review.rate == 1 %} <span>★</span>☆☆☆☆ {% endif %}
                            {% if review.rate == 2 %} <span>★★</span>☆☆☆ {% endif %}
                            {% if review.rate == 3 %} <span>★★★</span>☆☆ {% endif %}
                            {% if review.rate == 4 %} <span>★★★★</span>☆ {% endif %}
                            {% if review.rate == 5 %} <span>★★★★★</span> {% endif %}
                        </p>
                        <p style="font-size: 16px; color: #333;">{{ review.comment }}</p>
                    </div>
                {% endfor %}
            </div>

            <!-- Product Reviews -->
            <div class="product-reviews">
                <h2>Leave a Review</h2>
                <!-- Review Form -->
                <form class="review-form" method="GET" action="{% url 'products:review' product.id %}">
                    <label for="rating">Rating:</label>
                    <div class="rating" id="rating">
                        <input type="radio" id="star5" name="rating" value="5">
                        <label for="star5" title="5 stars"></label>
                        <input type="radio" id="star4" name="rating" value="4">
                        <label for="star4" title="4 stars"></label>
                        <input type="radio" id="star3" name="rating" value="3">
                        <label for="star3" title="3 stars"></label>
                        <input type="radio" id="star2" name="rating" value="2">
                        <label for="star2" title="2 stars"></label>
                        <input type="radio" id="star1" name="rating" value="1">
                        <label for="star1" title="1 star"></label>
                    </div>

                    <label for="review">Your Review:</label><br>
                    <textarea id="review" name="review"></textarea><br>

                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}