{% extends 'products/basesite.html' %}
{% load static %}

{% block header %}
    <title>Products</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'products/css/products_page.css' %}">
 {% endblock %}

{% block content %}
<div class="container">
    {% include 'products/border_menu.html' %}
    <div class="products">
        <div class="product">
            <div class="product-image">
                <img src="product_images/mouse1.jpg" alt="Gaming Mouse 1">
            </div>
            <h2>Gaming Mouse 1</h2>
            <p>High-performance gaming mouse with...</p>
            <p class="product-price">$299.99</p>
            <button class="add-to-cart-button">Add to Cart</button>
        </div>
        <div class="product">
            <div class="product-image">
                <img src="product_images/mouse2.jpg" alt="Gaming Mouse 2">
            </div>
            <h2>Gaming Mouse 2</h2>
            <p>High-performance gaming mouse with...</p>
            <p class="product-price">$299.99</p>
            <button class="add-to-cart-button">Add to Cart</button>
        </div>
        <div class="product">
            <div class="product-image">
                <img src="product_images/mouse2.jpg" alt="Gaming Mouse 2">
            </div>
            <h2>Gaming Mouse 2</h2>
            <p>High-performance gaming mouse with...</p>
            <p class="product-price">$299.99</p>
            <button class="add-to-cart-button">Add to Cart</button>
        </div>
    </div>
</div>
{% endblock %}