{% extends 'products/basesite.html' %}
{% load static %}

{% block header %}
    <title>Products</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'products/css/products_page.css' %}">
 {% endblock %}

{% block content %}
<div class="container">
    {% include 'products/border_menu.html' %}
    <div class="products">
        {% for product in object_list %}
            <div class="product">
                <a href="">
                    <div class="product-image">
                        <img src="{{ product.image.url }}" alt="Gaming Mouse">
                    </div>
                </a>
                <h2>{{ product.name }}</h2>
                <p>{{ product.description|slice:":85"|add:"..." }}</p>
                <p class="product-price">${{ product.price }}</p>
                <button class="add-to-cart-button"><a href="{% url 'products:basket_add' product.id %}" style="text-decoration: none; color: inherit;">Add to
                    Cart</a></button>
            </div>
        {% endfor %}
    </div>
</div>

    <div class="pagination">
        <ul>
            <li class="{% if page_obj.has_previous %} active {% else %} disabled {% endif %}"><a
                    href="
                            {% if page_obj.has_previous %}
                                {% if category_id %}
                                    {% url 'products:paginator' category_id page_obj.previous_page_number %}
                                {% else %}
                                    {% url 'products:paginator_without_category' page_obj.previous_page_number %}
                                {% endif %}
                            {% else %} #
                            {% endif %}">Previous</a>
            </li>
            {% for page in page_obj.paginator.page_range %}
                <li><a href="
                        {% if category_id %}{% url 'products:paginator' category_id page %}{% else %}{% url 'products:paginator_without_category' page %}{% endif %}">{{ page }}</a>
                </li>
            {% endfor %}
            <li class="{% if page_obj.has_next %} active {% else %} disabled {% endif %}"><a
                    href="
                            {% if page_obj.has_next %}
                                {% if category_id %}
                                    {% url 'products:paginator' category_id page_obj.next_page_number %}
                                {% else %}{% url 'products:paginator_without_category' page_obj.next_page_number %}
                            {% endif %}
                            {% else %} #
                            {% endif %}">Next</a>
            </li>
        </ul>
    </div>

{#    <div class="pagination">#}
{#        <ul>#}
{#            <li class="{% if page_obj.has_previous %} active {% else %} disabled {% endif %}">#}
{#                <a href="{% if page_obj.has_previous %} {% url 'products:paginator' category_id page_obj.previous_page_number %} {% else %} # {% endif %}">Previous</a>#}
{#            </li>#}
{#            {% for page in paginator.page_range %}#}
{#                <li><a href="{% url 'products:paginator' category_id page %}">{{ page }}</a></li>#}
{#            {% endfor %}#}
{#            <li class="{% if page_obj.has_next %} active {% else %} disabled {% endif %}">#}
{#                <a href="{% if page_obj.has_next %} {% url 'products:paginator' category_id page_obj.next_page_number %} {% else %} # {% endif %}">Next</a>#}
{#            </li>#}
{#        </ul>#}
{#    </div>#}

{% endblock %}

