{% extends 'products/basesite.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'products/css/shoppinglist_page.css' %}">
 {% endblock %}

{% block content %}
<div class="container">
    <h1>Shopping Cart</h1>
    <div class="cart">
        <div class="cart-item">
            <img src="mouse1.jpg" alt="Product 1">
            <div class="item-details">
                <h2>Product 1</h2>
                <p>Price: $49.99</p>
                <p>Quantity: <span class="quantity"><input type="number" value="2" min="1" max="10"></span></p>
                <p>Total: $<span class="total">49.99</span></p>
                <button class="remove-button">Remove</button>
            </div>
        </div>
        <div class="cart-item">
            <img src="mouse1.jpg" alt="Product 2">
            <div class="item-details">
                <h2>Product 2</h2>
                <p>Price: $39.99</p>
                <p>Quantity: <span class="quantity"><input type="number" value="2" min="1" max="10"></span></p>
                <p>Total: $<span class="total">79.98</span></p>
                <button class="remove-button">Remove</button>
            </div>
        </div>
    </div>
    <div class="cart-summary">
        <p>Total Items: <span class="total-items">3</span></p>
        <p>Grand Total: $<span class="grand-total">129.97</span></p>
        <button class="buy-button">Order</button>
    </div>
</div>
{% endblock %}